*.[oad]
*~
*.do
*.mexmaci
*.make
*.mod
*.ply
code/LIBS/BSE-1.2/segment
code/LIBS/GenerateLambertian/generate_colored
code/LIBS/GenerateLambertian/generate_lambertian
code/LIBS/GenerateLambertian/point_view
code/LIBS/GenerateLambertian/rtsc
code/LIBS/GenerateLambertian/smooth_normals
code/LIBS/GenerateLambertian/visibility_mesh
code/LIBS/globalPb/lib/segment
code/LIBS/gpb_src/matlab/recognition/Makefile
code/LIBS/gpb_src/matlab/segmentation/Makefile
code/LIBS/gpb_src/matlab/util/Makefile
code/LIBS/gpb_src/matlab/util/math/Makefile
code/LIBS/gpb_src/matlab/util/ui/Makefile
code/LIBS/gpb_src/src/concurrent/Makefile
code/LIBS/gpb_src/src/concurrent/threads/Makefile
code/LIBS/gpb_src/src/concurrent/threads/synchronization/Makefile
code/LIBS/gpb_src/src/concurrent/threads/synchronization/synchronizables/Makefile
code/LIBS/gpb_src/src/io/Makefile
code/LIBS/gpb_src/src/io/formats/Makefile
code/LIBS/gpb_src/src/io/formats/image/Makefile
code/LIBS/gpb_src/src/io/serialization/Makefile
code/LIBS/gpb_src/src/lang/Makefile
code/LIBS/gpb_src/src/lang/exceptions/Makefile
code/LIBS/gpb_src/src/lang/types/Makefile
code/LIBS/gpb_src/src/math/Makefile
code/LIBS/gpb_src/src/math/geometry/Makefile
code/LIBS/gpb_src/src/math/libraries/Makefile
code/LIBS/gpb_src/src/math/matrices/Makefile
code/LIBS/gpb_src/src/math/matrices/exceptions/Makefile
code/LIBS/gpb_src/src/math/random/Makefile
code/LIBS/gpb_src/src/math/random/generators/Makefile
code/LIBS/gpb_src/src/math/random/sources/Makefile
code/LIBS/gpb_src/src/math/random/util/Makefile
code/LIBS/gpb_src/src/mlearning/Makefile
code/LIBS/gpb_src/src/mlearning/clustering/Makefile
code/LIBS/gpb_src/src/mlearning/clustering/clusterers/Makefile
code/LIBS/gpb_src/src/mlearning/clustering/clusterers/abstract/Makefile
code/LIBS/gpb_src/src/mlearning/clustering/clusterers/kmeans/Makefile
code/LIBS/gpb_src/src/vision/Makefile
code/LIBS/gpb_src/src/vision/features/Makefile
code/LIBS/gpb_src/src/vision/features/parameters/Makefile
code/LIBS/gpb_src/src/vision/recognition/Makefile
code/LIBS/gpb_src/src/vision/recognition/classifiers/Makefile
code/LIBS/gpb_src/src/vision/recognition/classifiers/abstract/Makefile
code/LIBS/gpb_src/src/vision/recognition/databases/Makefile
code/LIBS/gpb_src/src/vision/recognition/models/Makefile
code/LIBS/gpb_src/src/vision/recognition/models/ids/Makefile
code/LIBS/gpb_src/src/vision/segmentation/Makefile
code/LIBS/gpb_src/test/collections/Makefile
code/LIBS/gpb_src/test/collections/array_list_test/Makefile
code/LIBS/gpb_src/test/collections/array_list_test/array_list_test
code/LIBS/gpb_src/test/collections/hash_map_test/Makefile
code/LIBS/gpb_src/test/collections/hash_map_test/hash_map_test
code/LIBS/gpb_src/test/collections/hash_set_test/Makefile
code/LIBS/gpb_src/test/collections/hash_set_test/hash_set_test
code/LIBS/gpb_src/test/collections/kd_tree_test/Makefile
code/LIBS/gpb_src/test/collections/kd_tree_test/kd_tree_test
code/LIBS/gpb_src/test/collections/key_tree_test/Makefile
code/LIBS/gpb_src/test/collections/key_tree_test/key_tree_test
code/LIBS/gpb_src/test/collections/list_test/Makefile
code/LIBS/gpb_src/test/collections/list_test/list_test
code/LIBS/gpb_src/test/collections/map_test/Makefile
code/LIBS/gpb_src/test/collections/map_test/map_test
code/LIBS/gpb_src/test/collections/multimap_test/Makefile
code/LIBS/gpb_src/test/collections/multimap_test/multimap_test
code/LIBS/gpb_src/test/collections/multiset_test/Makefile
code/LIBS/gpb_src/test/collections/multiset_test/multiset_test
code/LIBS/gpb_src/test/collections/queue_set_test/Makefile
code/LIBS/gpb_src/test/collections/queue_set_test/queue_set_test
code/LIBS/gpb_src/test/collections/queue_test/Makefile
code/LIBS/gpb_src/test/collections/queue_test/queue_test
code/LIBS/gpb_src/test/collections/set_test/Makefile
code/LIBS/gpb_src/test/collections/set_test/set_test
code/LIBS/gpb_src/test/collections/splay_set_test/Makefile
code/LIBS/gpb_src/test/collections/splay_set_test/splay_set_test
code/LIBS/gpb_src/test/concurrent/Makefile
code/LIBS/gpb_src/test/concurrent/thread_test/Makefile
code/LIBS/gpb_src/test/concurrent/thread_test/thread_test
code/LIBS/gpb_src/test/io/Makefile
code/LIBS/gpb_src/test/io/formats/Makefile
code/LIBS/gpb_src/test/io/formats/image/Makefile
code/LIBS/gpb_src/test/io/formats/image/jpeg_test/Makefile
code/LIBS/gpb_src/test/io/formats/image/jpeg_test/jpeg_test
code/LIBS/gpb_src/test/io/formats/image/png_test/Makefile
code/LIBS/gpb_src/test/io/formats/image/png_test/png_test
code/LIBS/gpb_src/test/io/serialization/Makefile
code/LIBS/gpb_src/test/io/serialization/serialization_test/Makefile
code/LIBS/gpb_src/test/io/serialization/serialization_test/serialization_test
code/LIBS/gpb_src/test/lang/Makefile
code/LIBS/gpb_src/test/lang/array_test/Makefile
code/LIBS/gpb_src/test/lang/array_test/array_test
code/LIBS/gpb_src/test/lang/exception_test/Makefile
code/LIBS/gpb_src/test/lang/exception_test/exception_test
code/LIBS/gpb_src/test/math/Makefile
code/LIBS/gpb_src/test/math/complex_test/Makefile
code/LIBS/gpb_src/test/math/complex_test/complex_test
code/LIBS/gpb_src/test/math/exact_test/Makefile
code/LIBS/gpb_src/test/math/exact_test/exact_test
code/LIBS/gpb_src/test/math/fraction_test/Makefile
code/LIBS/gpb_src/test/math/fraction_test/fraction_test
code/LIBS/gpb_src/test/math/geometry/Makefile
code/LIBS/gpb_src/test/math/geometry/seg_intersect_test/Makefile
code/LIBS/gpb_src/test/math/geometry/seg_intersect_test/seg_intersect_test
code/LIBS/gpb_src/test/math/geometry/triangulation_test/Makefile
code/LIBS/gpb_src/test/math/geometry/triangulation_test/triangulation_test
code/LIBS/gpb_src/test/math/libraries/Makefile
code/LIBS/gpb_src/test/math/libraries/lib_image_test/Makefile
code/LIBS/gpb_src/test/math/libraries/lib_image_test/lib_image_test
code/LIBS/gpb_src/test/math/libraries/lib_signal_test/Makefile
code/LIBS/gpb_src/test/math/libraries/lib_signal_test/lib_signal_test
code/LIBS/gpb_src/test/math/matrices/Makefile
code/LIBS/gpb_src/test/math/matrices/cmatrix_test/Makefile
code/LIBS/gpb_src/test/math/matrices/cmatrix_test/cmatrix_row_reduce_test
code/LIBS/gpb_src/test/math/matrices/cmatrix_test/cmatrix_test
code/LIBS/gpb_src/test/math/matrices/matrix_test/Makefile
code/LIBS/gpb_src/test/math/matrices/matrix_test/matrix_row_reduce_test
code/LIBS/gpb_src/test/math/matrices/matrix_test/matrix_test
code/LIBS/gpb_src/test/math/random/Makefile
code/LIBS/gpb_src/test/math/random/generators/Makefile
code/LIBS/gpb_src/test/math/random/generators/rand_gen_normal_test/Makefile
code/LIBS/gpb_src/test/math/random/generators/rand_gen_normal_test/rand_gen_normal_test
code/LIBS/gpb_src/test/math/random/generators/rand_gen_uniform_test/Makefile
code/LIBS/gpb_src/test/math/random/generators/rand_gen_uniform_test/rand_gen_uniform_test
code/LIBS/gpb_src/test/math/random/sources/Makefile
code/LIBS/gpb_src/test/math/random/sources/mersenne_twister_32_test/Makefile
code/LIBS/gpb_src/test/math/random/sources/mersenne_twister_32_test/mersenne_twister_32_test
code/LIBS/gpb_src/test/math/random/sources/mersenne_twister_64_test/Makefile
code/LIBS/gpb_src/test/math/random/sources/mersenne_twister_64_test/mersenne_twister_64_test
code/LIBS/trimesh2/bin.Darwin64/
